<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="en-us">

    <meta name="author" content="{{.Site.Params.author.name}}">
    {{.Hugo.Generator}}
    <meta property="article:author" content="https://www.facebook.com/{{ .Site.Params.social.facebook }}" />
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
    {{ if .Site.Params.google_site_verification -}}<meta name="google-site-verification" content="{{ .Site.Params.google_site_verification }}">{{end}}
    {{ if .Site.Params.bing_site_verification -}}<meta name="msvalidate.01" content="{{ .Site.Params.bing_site_verification }}">{{end}}

    {{ if .Site.Params.geo_position -}}<meta name="geo.position" content="{{.Site.Params.geo_position}}">
    <meta name="geo.placename" content = "{{.Site.Params.geo_placename}}">
    <meta name="geo.region" content="{{.Site.Params.geo_region}}">{{ end }}

    <meta property="og:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:locale" content="en-us">
    <meta property="og:type" content="{{ if .Params.type }}{{ .Params.type }}{{ else }}website{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Params.site_name}}">
    {{ with .Params.images }}{{ range first 6 . }}<meta property="og:image" content="{{ . }}" />{{ end }}{{ end }}

    <meta name="twitter:site" content="@{{.Site.Params.social.twitter}}" />{{ $image := .Site.Params.author.image }}
    <meta name="twitter:creator" content="@{{.Site.Params.social.twitter}}" />
    <meta name="twitter:title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    {{ with .Params.images }}<meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image:src" content="{{ index . 0 }}"/>
    {{ else }}<meta name="twitter:card" content="summary"/>
    <meta name="twitter:image:src" content="{{$image | absURL}}"/>{{ end }}

    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} - {{.Title}}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{.Site.Title}} - {{ .Title }}" />{{ end }}

    <link rel="icon" href="/images/favicon.ico">
    <link rel="canonical" href="{{ .Permalink | absURL }}" />

    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet">
    <link href="/css/theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {{- if .Params.gallery -}}<link href="/css/nanogallery2.css" rel="stylesheet" type="text/css">{{ end }}
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    {{ "<!--[if lt IE 9]><script src='/js/ie8-responsive-file-warning.js'></script><![endif]-->" | safeHTML}}
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <script>
        if(window.location.protocol != 'https:') {location.href = location.href.replace("http://", "https://");}
    </script>

    {{ template "_internal/google_analytics_async.html" . }}

    {{ "<!--[if lt IE 9]>" | safeHTML }}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {{ "<![endif]-->" | safeHTML }}
    {{- block "css" . -}}{{end}}
    {{ if .Params.music}}{{ $cdn := .Site.Params.musiccdn }}{{ range .Params.playlist}}{{range .songs }}
    <meta property="og:audio" content="{{$cdn}}{{.url}}">
    <meta property="og:title" content="{{.title}}">{{end}}{{end}}{{end}}
  </head>
